
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/Normalize.css')}}">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/lightbox.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Dashboard</title>
</head>
<body>
    
    <div class="alldash">
        <br>
    <div class="envio">
        <h1>Propiedades</h1>
    </div>
    <div class="envio2">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for Message in MessageList %}
                <tr>
                    <td>{{ Message.name }}</td>
                    <td>{{ Message.mail }}</td>
                    <td>{{ Message.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
    <div class="alldash">
        <br>
    <div class="envio">
        <h1>Propiedades</h1>
    </div>
    <div class="envio2">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for Property in PropertyList %}
                <tr>
                    <td>{{ Property.name }}</td>
                    <td>{{ Property.category }}</td>
                    <td>{{ Property.size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 

    {{ PropertyList }}

            <div class="centrar-b">
                <a href="{{ url_for('dashboard.property') }}" class="btn">Crear propiedad</a>
            </div>
        </div> 
    </div>
</body>
</html>