
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/Normalize.css')}}">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/lightbox.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Dashboard</title>
</head>
<body>

<div class="fulldash">
        <h1>Contáctanos</h1>
    <br>
    <form action="{{ url_for('dashboard.home') }}" method="post" class="form_dash" >
        
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ form.name }}
        </p>
        <p>
            {{ form.mail.label }}
            {{ form.mail }}
        </p>
        <p>
            {{ form.message.label }}
            {{ form.message }}
        </p>
        <!-- {{ form.submit }} -->
        <p class="center-content">
            <input type="submit" class ="go go-now  " value = "Enviar datos">
        </p> 
        
    </form>

    <br>
<div class="envio">
    <h1>Mensajes</h1>
</div>
<div class="envio2">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for Message in MessageList %}
            <tr>
                <td>{{ Message.name }}</td>
                <td>{{ Message.mail }}</td>
                <td>{{ Message.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
    <a href="{{ url_for('dashboard.property') }}" class="btn">Crear propiedad</a>
  
</div> 
</body>
</html>