<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/Normalize.css')}}">
    <link rel="stylesheet" href= "{{url_for('static', filename='css/lightbox.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Property</title>
</head>
<body>
    <div class="allprop">
            <div class="title-prop">
            <h1>Crear propiedades</h1>
            </div>
        <br>

        <div class="props">
            <form action="{{ url_for('dashboard.property') }}" method="post" class="props">
                
                {{ form.hidden_tag() }}
                <p>
                    <div class="one">
                        {{ form.name.label }}
                        {{ form.name }}
                </p>
                    </div>
                    
                <p>
                    
                    <div class="two">
                        {{ form.category.label }}
                        {{ form.category }}
                    </div>
                    
                </p>

                <p>
                    <div class="one">
                        {{ form.city.label }}
                        {{ form.city }}
                    </div>

                </p>


                <p>
                    <div class="one">

                    </div>

                    <div class="two">
                        {{ form.size.label }}
                        {{ form.size }}
                    </div>
                    
                </p>


                <p>
                    <div class="one">
                        {{ form.clasification.label }}
                        {{ form.clasification }}
                    </div>
                </p>


                <p>

                    <div class="two">
                        {{ form.price.label }}
                        {{ form.price }}
                    </div>

                </p>


                <p>
                    <div class="one">
                        {{ form.details.label }}
                        {{ form.details }}
                    </div>

                </p>

                <p>
                    <div class="one">
                        {{ form.banos.label }}
                        {{ form.banos }}
                    </div>

                </p>
                <p>
                    <div class="one">
                        {{ form.dormitorios.label }}
                        {{ form.dormitorios }}
                    </div>

                </p>
                <p>
                    <div class="one">
                        {{ form.parqueos.label }}
                        {{ form.parqueos }}
                    </div>

                </p>
                <p>
                    <div class="one">
                        {{ form.fotoperfil.label }}
                        {{ form.fotoperfil }}
                    </div>

                </p>
                <p>
                    <div class="one">
                        {{ form.foto1.label }}
                        {{ form.foto1 }}
                    </div>

                </p>

                <p>
                    <div class="one">
                        {{ form.foto2.label }}
                        {{ form.foto2 }}
                    </div>

                </p>
                <p>
                    <div class="one">
                        {{ form.foto3.label }}
                        {{ form.foto3 }}
                    </div>

                </p>
                <p>
                    <div class="one">
                        {{ form.foto4.label }}
                        {{ form.foto4 }}
                    </div>

                </p>
                
                <p>
                    {{ form.submit }}
                </p>
                
                
                
            </form>
        </div>
        <br>
    </div>
</body>
</html>